{% extends "./base.html" %}

{% block title %} Actualizar Proveedor {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Actualizar Proveedor</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'actualizar_proveedor' %}" method="post"> 
                    {% csrf_token %}
                    <div class="form-group">
                        <label for='id'>ID:</label><br>
                        <input type='text'  name='id' class="form-control" value="{{proveedor.id}}" placeholder="ID" readonly><br>
                    </div>
                    <div class="form-group">
                        <label for='nombre'>Nombre:</label><br>
                        <input type='text'  name='nombre' class="form-control" value="{{proveedor.nombre}}" placeholder="Nombre"><br>
                    </div>
                    <div class="form-group">   
                        <label for='apellido'>Apellido:</label><br>
                        <input type="text"  name='apellido'class="form-control" value="{{proveedor.apellido}}" placeholder="Apellido"><br>
                    </div>    
                    <div class="form-group">     
                        <label for='dni'>DNI:</label><br>
                        <input type="text" name='dni' class="form-control" value="{{proveedor.dni}}" placeholder="DNI"><br>
                    </div>  
                    <div class="form-group">   
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}